<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSV</title>
</head>

<body>
    <h1>CSV</h1>

    <table>
        {% for l in csv_reader %}
        <tr>
            {% for r in l %}
                <td>
                    {{ r }}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>

    <a href="{% url 'download_file' %}" download>Download File</a>

</body>

</html>